@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 0 20px;
}

.header {
  margin-top: 22px;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-top: 10px;
}

.header__link-logo {
  width: 90px;
  height: 30px;
}

.header-text {
  display: none;
}

.header__button {
  display: none;
}

.header__right {
  display: flex;
}

.header__number {
  display: none;
}

.header__phone {
  margin-right: 9px;
}

.header-nav {
  display: none;
}

@font-face {
  font-family: "GothamPro";
  src: url("https://nomail.com.ua/files/eot/aafeb23794c0546aa78e6d11e49ef908.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff") format("woff"), url("https://nomail.com.ua/files/woff2/aafeb23794c0546aa78e6d11e49ef908.woff2") format("woff2");
}

@font-face {
  font-family: "GothamPro";
  src: local("GothamPro"), url("https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff") format("woff");
}

@font-face {
  font-family: "GothamPro";
  src: url("#src/fonts/GothamProRegular.eot");
  src: local("☺"), url("#src/fonts/GothamProRegular.woff") format("woff"), url("#src/fonts/GothamProRegular.ttf") format("truetype"), url("#src/fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.section-about {
  margin-bottom: 48px;
}

.about-information__title {
  background-image: url("../img/Creative_process.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position-y: 122px;
  height: 430px;
}

.about__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #262626;
  white-space: pre-line;
  margin-top: 14px;
  margin-right: 3px;
}

.about-information__text {
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #303030;
  margin-top: 17px;
}

.about__button {
  width: 196px;
  height: 50px;
  background: #273895;
  border-radius: 15px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  margin-left: 42px;
  margin-top: 15px;
  margin-bottom: 16px;
}

.about-statistics {
  background-image: url("../img/Vector (1).png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 122px;
}

.about-statistics .statistics__text {
  position: relative;
  top: 39px;
}

.about-statistics p:nth-child(1) {
  font-weight: 700;
  font-size: 11.8065px;
  line-height: 11px;
  text-align: center;
  white-space: pre-line;
  color: #303030;
  margin-bottom: 5px;
}

.about-statistics p:nth-child(2) {
  font-weight: 400;
  font-size: 9.83871px;
  line-height: 12px;
  white-space: pre-line;
  text-align: center;
  color: #303030;
}

.help_content .helper_content {
  height: 402px;
}

.help_content .helper_content .help-content__row {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.help_content .helper_content .help-content__row .help__colums {
  padding: 0 32px;
  background: #1884e7;
  box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
}

.help_content .helper_content .help-content__row .help__colums .item-help__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #303030;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #f4f7fa;
}

@media (min-width: 600px) {
  .header__phone {
    display: none;
  }

  .header__burger {
    display: none;
  }

  .header-top .header-left {
    display: flex;
  }

  .header-top .header-left .header__logo {
    margin-top: 9px;
  }

  .header-top .header-left .header-text {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    line-height: 20px;
    white-space: pre-line;
    color: #303030;
    margin-left: 62px;
  }

  .header-top .header__right {
    display: flex;
    align-items: center;
  }

  .header-top .header__right .header__number {
    display: block;
    margin-top: 10px;
    margin-right: 36px;
  }

  .header-top .header__right .header__number .header__number-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #303030;
    text-decoration: none;
  }

  .header-top .header__right .header__button {
    display: block;
    margin-top: 9px;
  }

  .header-top .header__right .header__button .header__button-body {
    border: none;
    width: 115px;
    height: 50px;
    background: #273895;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media (min-width: 801px) {
  .header__link-logo {
    width: 199px;
    height: 63px;
  }

  .header-nav {
    display: block;
    margin-top: 44px;
  }

  .header-nav .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .header-nav .nav__list .nav__list-item {
    margin-right: 47px;
  }

  .header-nav .nav__list .nav__list-item .nav__link {
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 0 80px;
  }

  .about-information__title {
    background-image: url(../img/people.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: right;
    background-size: contain;
  }

  .about__title {
    margin-top: 116px;
    text-align: left;
    width: 733px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #262626;
    white-space: normal;
  }

  .about-information__text {
    text-align: left;
    width: 519px;
    font-size: 14px;
    line-height: 150%;
    color: #303030;
    margin-top: -2px;
    letter-spacing: initial;
    margin-bottom: 34px;
    white-space: pre-line;
  }

  .about__button {
    width: 268px;
    height: 56px;
    background: #273895;
    border-radius: 15px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-left: 0px;
    margin-top: -12px;
    border: none;
  }

  .about-statistics {
    display: none;
  }
}